p {
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  color: #cdd0d4;
}

hr {
  border-color: #F05F44;
  border-width: 1rem;
  max-width: 3rem;
}

.layout {
  background: url(../../../assets/img/bg.jpg) no-repeat center center fixed;
  height: 100vh;
  background-size: cover;
}

.btn-xl {
  background-color: #F05F44;
  border-color: #F05F44;
  border-radius: 300px;
  padding: 1rem 2rem;
}

.btn-xl:hover{
  background-color: #ee4b08;
  border-radius: #ee4b08;
  border-width: 4px;
}