p {
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  color: #cdd0d4;
}

hr {
  border-color: #F05F44;
  border-width: 1rem;
  max-width: 6rem;
  margin: 1rem auto;
}

.layout {
  background: url(../../../assets/img/bg.jpg) no-repeat center center fixed;
  height: 100vh;
  background-size: cover;
}

