<div class="row">
  <div class="col-lg-8 offset-lg-2">
    <div *ngIf="user" class="card" style="width: 25rem; margin: 0 auto;">
      <img [src]="imgUrl" alt="" class="card-img-top img-thumbnail">
      <div class="card-body text-center">
        <h5 class="card-title">{{ user.name }}</h5>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><b>Email:</b> {{ user.email }}</li>
          <li class="list-group-item"><b>Gender:</b> {{ user.gender }}</li>
          <li class="list-group-item"><b>Status:</b> {{ user.status }}</li>
        </ul>
      </div>
      <div class="card-footer text-center">
        <button routerLink="/" class="btn btn-primary btn-block btn-xl m-2">
          Volver
        </button>
      </div>
    </div>
  </div>
</div>
